@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family:'Inter', sans-serif;
    background-color: #f6fdf5;
    color: #00422C
}

main {
    padding: 10x;
    margin-bottom: 5px;
    margin: 24px
}

footer {
    padding: 40px;
    background-color: #cfffca;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #00422C
}

img {
    height: 200px;
}

nav {
    border-bottom: 2px solid #00261a;
    padding: 40px;
    background-color: #00422C;
    font-size: 25px;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-page {
    color:#f6fdf5

}

.vtacos {
    color: #662400
}

h1 {
    color: #00422C
}

a:link, a:visited {
    text-decoration: none;
}

.table tr:nth-child(even){
    background-color: #ffe4c1;
}

/* tbody tr:nth-child(even){
    background-color: #ffe4c1;
} */

.box-shadow {
    box-shadow: 2px 4px #ffe4c1;
}
